WSReferences/WSDictionaryServiceTest/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://api.vetrf.ru/schema/cdm/registry/service"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="0"
		xmlns:xsd10="http://api.vetrf.ru/schema/cdm/argus/common"
		xmlns:xsd11="http://api.vetrf.ru/schema/cdm/ikar/ws-definitions"
		xmlns:xsd12="http://api.vetrf.ru/schema/cdm/base/ws-definitions"
		xmlns:xsd2="http://api.vetrf.ru/schema/cdm/cerberus/enterprise"
		xmlns:xsd3="http://api.vetrf.ru/schema/cdm/ikar"
		xmlns:xsd4="http://api.vetrf.ru/schema/cdm/cerberus/business-entity/ws-definitions"
		xmlns:xsd5="http://api.vetrf.ru/schema/cdm/base"
		xmlns:xsd6="http://api.vetrf.ru/schema/cdm/cerberus/enterprise/ws-definitions"
		xmlns:xsd7="http://api.vetrf.ru/schema/cdm/argus/production/ws-definitions"
		xmlns:xsd8="http://api.vetrf.ru/schema/cdm/argus/production"
		xmlns:xsd9="http://api.vetrf.ru/schema/cdm/argus/common/ws-definitions"
		name="RegistryService"
		targetNamespace="http://api.vetrf.ru/schema/cdm/registry/service">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
				xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
				xmlns:WL5G3N1="http://api.vetrf.ru/schema/cdm/argus/production/ws-definitions"
				xmlns:WL5G3N2="http://api.vetrf.ru/schema/cdm/cerberus/business-entity/ws-definitions"
				xmlns:WL5G3N3="http://api.vetrf.ru/schema/cdm/cerberus/enterprise/ws-definitions"
				xmlns:WL5G3N4="http://api.vetrf.ru/schema/cdm/argus/common/ws-definitions"
				xmlns:WL5G3N5="http://api.vetrf.ru/schema/cdm/ikar/ws-definitions"
				xmlns:WL5G3N6="http://api.vetrf.ru/schema/cdm/base/ws-definitions"
				xmlns:WL5G3N7="http://api.vetrf.ru/schema/cdm/registry/service"
				xmlns:WL5G3N8="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:bedef="http://api.vetrf.ru/schema/cdm/cerberus/business-entity/ws-definitions"
				xmlns:cdef="http://api.vetrf.ru/schema/cdm/argus/common/ws-definitions"
				xmlns:def="http://api.vetrf.ru/schema/cdm/base/ws-definitions"
				xmlns:edef="http://api.vetrf.ru/schema/cdm/cerberus/enterprise/ws-definitions"
				xmlns:idef="http://api.vetrf.ru/schema/cdm/ikar/ws-definitions"
				xmlns:prodef="http://api.vetrf.ru/schema/cdm/argus/production/ws-definitions"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:tns="0"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				targetNamespace="0">
			<import namespace="http://api.vetrf.ru/schema/cdm/base/ws-definitions"
					schemaLocation="file://1.xsd"/>
			<default:import xmlns:default="http://www.w3.org/2001/XMLSchema"
					namespace="http://api.vetrf.ru/schema/cdm/cerberus/enterprise/ws-definitions"
					schemaLocation="file://3.xsd"/>
			<import namespace="http://api.vetrf.ru/schema/cdm/argus/common/ws-definitions"
					schemaLocation="file://6.xsd"/>
			<default:import xmlns:default="http://www.w3.org/2001/XMLSchema"
					namespace="http://api.vetrf.ru/schema/cdm/argus/production/ws-definitions"
					schemaLocation="file://8.xsd"/>
			<import namespace="http://api.vetrf.ru/schema/cdm/ikar/ws-definitions"
					schemaLocation="file://10.xsd"/>
			<default:import xmlns:default="http://www.w3.org/2001/XMLSchema"
					namespace="http://api.vetrf.ru/schema/cdm/cerberus/business-entity/ws-definitions"
					schemaLocation="file://11.xsd"/>
		</schema>
	</types>
	<message name="GetProductItemByGuid">
		<part name="request"
				element="xsd7:getProductItemByGuidRequest"/>
	</message>
	<message name="GetProductItemByGuidResponse">
		<part name="response"
				element="xsd7:getProductItemByGuidResponse"/>
	</message>
	<message name="GetProductItemByUuid">
		<part name="request"
				element="xsd7:getProductItemByUuidRequest"/>
	</message>
	<message name="GetProductItemByUuidResponse">
		<part name="response"
				element="xsd7:getProductItemByUuidResponse"/>
	</message>
	<message name="GetProductItemList">
		<part name="request"
				element="xsd7:getProductItemListRequest"/>
	</message>
	<message name="GetProductItemListResponse">
		<part name="response"
				element="xsd7:getProductItemListResponse"/>
	</message>
	<message name="GetProductItemChangesList">
		<part name="request"
				element="xsd7:getProductItemChangesListRequest"/>
	</message>
	<message name="GetProductItemChangesListResponse">
		<part name="response"
				element="xsd7:getProductItemChangesListResponse"/>
	</message>
	<message name="GetBusinessEntityByGuid">
		<part name="request"
				element="xsd4:getBusinessEntityByGuidRequest"/>
	</message>
	<message name="GetBusinessEntityByGuidResponse">
		<part name="response"
				element="xsd4:getBusinessEntityByGuidResponse"/>
	</message>
	<message name="GetBusinessEntityByUuid">
		<part name="request"
				element="xsd4:getBusinessEntityByUuidRequest"/>
	</message>
	<message name="GetBusinessEntityByUuidResponse">
		<part name="response"
				element="xsd4:getBusinessEntityByUuidResponse"/>
	</message>
	<message name="GetBusinessEntityList">
		<part name="request"
				element="xsd4:getBusinessEntityListRequest"/>
	</message>
	<message name="GetBusinessEntityListResponse">
		<part name="response"
				element="xsd4:getBusinessEntityListResponse"/>
	</message>
	<message name="GetBusinessEntityChangesList">
		<part name="request"
				element="xsd4:getBusinessEntityChangesListRequest"/>
	</message>
	<message name="GetBusinessEntityChangesListResponse">
		<part name="response"
				element="xsd4:getBusinessEntityChangesListResponse"/>
	</message>
	<message name="GetEnterpriseByGuid">
		<part name="request"
				element="xsd6:getEnterpriseByGuidRequest"/>
	</message>
	<message name="GetEnterpriseByGuidResponse">
		<part name="response"
				element="xsd6:getEnterpriseByGuidResponse"/>
	</message>
	<message name="GetEnterpriseByUuid">
		<part name="request"
				element="xsd6:getEnterpriseByUuidRequest"/>
	</message>
	<message name="GetEnterpriseByUuidResponse">
		<part name="response"
				element="xsd6:getEnterpriseByUuidResponse"/>
	</message>
	<message name="GetForeignEnterpriseList">
		<part name="request"
				element="xsd6:getForeignEnterpriseListRequest"/>
	</message>
	<message name="GetForeignEnterpriseListResponse">
		<part name="response"
				element="xsd6:getForeignEnterpriseListResponse"/>
	</message>
	<message name="GetRussianEnterpriseList">
		<part name="request"
				element="xsd6:getRussianEnterpriseListRequest"/>
	</message>
	<message name="GetRussianEnterpriseListResponse">
		<part name="response"
				element="xsd6:getRussianEnterpriseListResponse"/>
	</message>
	<message name="GetForeignEnterpriseChangesList">
		<part name="request"
				element="xsd6:getForeignEnterpriseChangesListRequest"/>
	</message>
	<message name="GetForeignEnterpriseChangesListResponse">
		<part name="response"
				element="xsd6:getForeignEnterpriseChangesListResponse"/>
	</message>
	<message name="GetRussianEnterpriseChangesList">
		<part name="request"
				element="xsd6:getRussianEnterpriseChangesListRequest"/>
	</message>
	<message name="GetRussianEnterpriseChangesListResponse">
		<part name="response"
				element="xsd6:getRussianEnterpriseChangesListResponse"/>
	</message>
	<message name="GetPurposeByGuid">
		<part name="request"
				element="xsd9:getPurposeByGuidRequest"/>
	</message>
	<message name="GetPurposeByGuidResponse">
		<part name="response"
				element="xsd9:getPurposeByGuidResponse"/>
	</message>
	<message name="GetPurposeByUuid">
		<part name="request"
				element="xsd9:getPurposeByUuidRequest"/>
	</message>
	<message name="GetPurposeByUuidResponse">
		<part name="response"
				element="xsd9:getPurposeByUuidResponse"/>
	</message>
	<message name="GetPurposeList">
		<part name="request"
				element="xsd9:getPurposeListRequest"/>
	</message>
	<message name="GetPurposeListResponse">
		<part name="response"
				element="xsd9:getPurposeListResponse"/>
	</message>
	<message name="GetPurposeChangesList">
		<part name="request"
				element="xsd9:getPurposeChangesListRequest"/>
	</message>
	<message name="GetPurposeChangesListResponse">
		<part name="response"
				element="xsd9:getPurposeChangesListResponse"/>
	</message>
	<message name="GetUnitByGuid">
		<part name="request"
				element="xsd9:getUnitByGuidRequest"/>
	</message>
	<message name="GetUnitByGuidResponse">
		<part name="response"
				element="xsd9:getUnitByGuidResponse"/>
	</message>
	<message name="GetUnitByUuid">
		<part name="request"
				element="xsd9:getUnitByUuidRequest"/>
	</message>
	<message name="GetUnitByUuidResponse">
		<part name="response"
				element="xsd9:getUnitByUuidResponse"/>
	</message>
	<message name="GetUnitList">
		<part name="request"
				element="xsd9:getUnitListRequest"/>
	</message>
	<message name="GetUnitListResponse">
		<part name="response"
				element="xsd9:getUnitListResponse"/>
	</message>
	<message name="GetUnitChangesList">
		<part name="request"
				element="xsd9:getUnitChangesListRequest"/>
	</message>
	<message name="GetUnitChangesListResponse">
		<part name="response"
				element="xsd9:getUnitChangesListResponse"/>
	</message>
	<message name="GetProductByGuid">
		<part name="request"
				element="xsd7:getProductByGuidRequest"/>
	</message>
	<message name="GetProductByGuidResponse">
		<part name="response"
				element="xsd7:getProductByGuidResponse"/>
	</message>
	<message name="GetProductByUuid">
		<part name="request"
				element="xsd7:getProductByUuidRequest"/>
	</message>
	<message name="GetProductByUuidResponse">
		<part name="response"
				element="xsd7:getProductByUuidResponse"/>
	</message>
	<message name="GetProductByTypeList">
		<part name="request"
				element="xsd7:getProductByTypeListRequest"/>
	</message>
	<message name="GetProductByTypeListResponse">
		<part name="response"
				element="xsd7:getProductByTypeListResponse"/>
	</message>
	<message name="GetProductChangesList">
		<part name="request"
				element="xsd7:getProductChangesListRequest"/>
	</message>
	<message name="GetProductChangesListResponse">
		<part name="response"
				element="xsd7:getProductChangesListResponse"/>
	</message>
	<message name="GetSubProductByGuid">
		<part name="request"
				element="xsd7:getSubProductByGuidRequest"/>
	</message>
	<message name="GetSubProductByGuidResponse">
		<part name="response"
				element="xsd7:getSubProductByGuidResponse"/>
	</message>
	<message name="GetSubProductByUuid">
		<part name="request"
				element="xsd7:getSubProductByUuidRequest"/>
	</message>
	<message name="GetSubProductByUuidResponse">
		<part name="response"
				element="xsd7:getSubProductByUuidResponse"/>
	</message>
	<message name="GetSubProductByProductList">
		<part name="request"
				element="xsd7:getSubProductByProductListRequest"/>
	</message>
	<message name="GetSubProductByProductListResponse">
		<part name="response"
				element="xsd7:getSubProductByProductListResponse"/>
	</message>
	<message name="GetSubProductChangesList">
		<part name="request"
				element="xsd7:getSubProductChangesListRequest"/>
	</message>
	<message name="GetSubProductChangesListResponse">
		<part name="response"
				element="xsd7:getSubProductChangesListResponse"/>
	</message>
	<message name="GetAllCountryList">
		<part name="request"
				element="xsd11:getAllCountryListRequest"/>
	</message>
	<message name="GetAllCountryListResponse">
		<part name="response"
				element="xsd11:getAllCountryListResponse"/>
	</message>
	<message name="GetCountryByGuid">
		<part name="request"
				element="xsd11:getCountryByGuidRequest"/>
	</message>
	<message name="GetCountryByGuidResponse">
		<part name="response"
				element="xsd11:getCountryByGuidResponse"/>
	</message>
	<message name="GetCountryByUuid">
		<part name="request"
				element="xsd11:getCountryByUuidRequest"/>
	</message>
	<message name="GetCountryByUuidResponse">
		<part name="response"
				element="xsd11:getCountryByUuidResponse"/>
	</message>
	<message name="GetCountryChangesList">
		<part name="request"
				element="xsd11:getCountryChangesListRequest"/>
	</message>
	<message name="GetCountryChangesListResponse">
		<part name="response"
				element="xsd11:getCountryChangesListResponse"/>
	</message>
	<message name="GetRegionListByCountry">
		<part name="request"
				element="xsd11:getRegionListByCountryRequest"/>
	</message>
	<message name="GetRegionListByCountryResponse">
		<part name="response"
				element="xsd11:getRegionListByCountryResponse"/>
	</message>
	<message name="GetRegionByGuid">
		<part name="request"
				element="xsd11:getRegionByGuidRequest"/>
	</message>
	<message name="GetRegionByGuidResponse">
		<part name="response"
				element="xsd11:getRegionByGuidResponse"/>
	</message>
	<message name="GetRegionByUuid">
		<part name="request"
				element="xsd11:getRegionByUuidRequest"/>
	</message>
	<message name="GetRegionByUuidResponse">
		<part name="response"
				element="xsd11:getRegionByUuidResponse"/>
	</message>
	<message name="GetRegionChangesList">
		<part name="request"
				element="xsd11:getRegionChangesListRequest"/>
	</message>
	<message name="GetRegionChangesListResponse">
		<part name="response"
				element="xsd11:getRegionChangesListResponse"/>
	</message>
	<message name="GetDistrictListByRegion">
		<part name="request"
				element="xsd11:getDistrictListByRegionRequest"/>
	</message>
	<message name="GetDistrictListByRegionResponse">
		<part name="response"
				element="xsd11:getDistrictListByRegionResponse"/>
	</message>
	<message name="GetDistrictByGuid">
		<part name="request"
				element="xsd11:getDistrictByGuidRequest"/>
	</message>
	<message name="GetDistrictByGuidResponse">
		<part name="response"
				element="xsd11:getDistrictByGuidResponse"/>
	</message>
	<message name="GetDistrictChangesList">
		<part name="request"
				element="xsd11:getDistrictChangesListRequest"/>
	</message>
	<message name="GetDistrictChangesListResponse">
		<part name="response"
				element="xsd11:getDistrictChangesListResponse"/>
	</message>
	<message name="GetLocalityListByRegion">
		<part name="request"
				element="xsd11:getLocalityListByRegionRequest"/>
	</message>
	<message name="GetLocalityListByRegionResponse">
		<part name="response"
				element="xsd11:getLocalityListByRegionResponse"/>
	</message>
	<message name="GetLocalityListByDistrict">
		<part name="request"
				element="xsd11:getLocalityListByDistrictRequest"/>
	</message>
	<message name="GetLocalityListByDistrictResponse">
		<part name="response"
				element="xsd11:getLocalityListByDistrictResponse"/>
	</message>
	<message name="GetLocalityListByLocality">
		<part name="request"
				element="xsd11:getLocalityListByLocalityRequest"/>
	</message>
	<message name="GetLocalityListByLocalityResponse">
		<part name="response"
				element="xsd11:getLocalityListByLocalityResponse"/>
	</message>
	<message name="GetStreetListByLocality">
		<part name="request"
				element="xsd11:getStreetListByLocalityRequest"/>
	</message>
	<message name="GetStreetListByLocalityResponse">
		<part name="response"
				element="xsd11:getStreetListByLocalityResponse"/>
	</message>
	<message name="FindLocalityListByName">
		<part name="request"
				element="xsd11:findLocalityListByNameRequest"/>
	</message>
	<message name="FindLocalityListByNameResponse">
		<part name="response"
				element="xsd11:findLocalityListByNameResponse"/>
	</message>
	<message name="FindStreetListByName">
		<part name="request"
				element="xsd11:findStreetListByNameRequest"/>
	</message>
	<message name="FindStreetListByNameResponse">
		<part name="response"
				element="xsd11:findStreetListByNameResponse"/>
	</message>
	<message name="EntityNotFoundFault">
		<documentation>
         Запись с указанным идентификатором не найдена.
      </documentation>
		<part name="fault"
				element="xsd12:entityNotFoundFault"/>
	</message>
	<message name="IncorrectRequestFault">
		<documentation>
         Реакция системы на некорректный запрос.
      </documentation>
		<part name="fault"
				element="xsd12:incorrectRequestFault"/>
	</message>
	<message name="InternalServiceFault">
		<documentation>
         Внутренняя ошибка выполнения операции на сервере.
      </documentation>
		<part name="fault"
				element="xsd12:internalServiceFault"/>
	</message>
	<message name="OffsetOutOfRangeFault">
		<documentation> </documentation>
		<part name="fault"
				element="xsd12:offsetOutOfRangeFault"/>
	</message>
	<portType name="DictionaryServicePortType">
		<operation name="GetPurposeByGuid">
			<input name="purposeByGuid"
					message="tns:GetPurposeByGuid"/>
			<output name="purposeByGuidResponse"
					message="tns:GetPurposeByGuidResponse"/>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault"/>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault"/>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault"/>
		</operation>
		<operation name="GetPurposeByUuid">
			<input name="purposeByUuid"
					message="tns:GetPurposeByUuid"/>
			<output name="purposeByUuidResponse"
					message="tns:GetPurposeByUuidResponse"/>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault"/>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault"/>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault"/>
		</operation>
		<operation name="GetPurposeList">
			<input name="purposeList"
					message="tns:GetPurposeList"/>
			<output name="purposeListResponse"
					message="tns:GetPurposeListResponse"/>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault"/>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault"/>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault"/>
		</operation>
		<operation name="GetPurposeChangesList">
			<input name="purposeChangesList"
					message="tns:GetPurposeChangesList"/>
			<output name="purposeChangesListResponse"
					message="tns:GetPurposeChangesListResponse"/>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault"/>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault"/>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault"/>
		</operation>
		<operation name="GetUnitByGuid">
			<input name="unitByGuid"
					message="tns:GetUnitByGuid"/>
			<output name="unitByGuidResponse"
					message="tns:GetUnitByGuidResponse"/>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault"/>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault"/>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault"/>
		</operation>
		<operation name="GetUnitByUuid">
			<input name="unitByUuid"
					message="tns:GetUnitByUuid"/>
			<output name="unitByUuidResponse"
					message="tns:GetUnitByUuidResponse"/>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault"/>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault"/>
			<fault name="entityNotFoundFault"
					message="tns:EntityNotFoundFault"/>
		</operation>
		<operation name="GetUnitList">
			<input name="unitList"
					message="tns:GetUnitList"/>
			<output name="unitListResponse"
					message="tns:GetUnitListResponse"/>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault"/>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault"/>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault"/>
		</operation>
		<operation name="GetUnitChangesList">
			<input name="unitChangesList"
					message="tns:GetUnitChangesList"/>
			<output name="unitChangesListResponse"
					message="tns:GetUnitChangesListResponse"/>
			<fault name="internalServiceFault"
					message="tns:InternalServiceFault"/>
			<fault name="incorrectRequestFault"
					message="tns:IncorrectRequestFault"/>
			<fault name="offsetOutOfRangeFault"
					message="tns:OffsetOutOfRangeFault"/>
		</operation>
	</portType>
	<binding name="DictionaryServiceBinding"
			type="tns:DictionaryServicePortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetPurposeByGuid">
			<soapbind:operation style="document"
					soapAction="GetPurposeByGuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetPurposeByUuid">
			<soapbind:operation style="document"
					soapAction="GetPurposeByUuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetPurposeList">
			<soapbind:operation style="document"
					soapAction="GetPurposeList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetPurposeChangesList">
			<soapbind:operation style="document"
					soapAction="GetPurposeChangesList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetUnitByGuid">
			<soapbind:operation style="document"
					soapAction="GetUnitByGuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetUnitByUuid">
			<soapbind:operation style="document"
					soapAction="GetUnitByUuid"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="entityNotFoundFault">
				<soapbind:fault name="entityNotFoundFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetUnitList">
			<soapbind:operation style="document"
					soapAction="GetUnitList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
		<operation name="GetUnitChangesList">
			<soapbind:operation style="document"
					soapAction="GetUnitChangesList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
			<fault name="internalServiceFault">
				<soapbind:fault name="internalServiceFault"
						use="literal"/>
			</fault>
			<fault name="incorrectRequestFault">
				<soapbind:fault name="incorrectRequestFault"
						use="literal"/>
			</fault>
			<fault name="offsetOutOfRangeFault">
				<soapbind:fault name="offsetOutOfRangeFault"
						use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="DictionaryServiceBindingQSService">
		<port name="DictionaryServiceBindingQSPort"
				binding="tns:DictionaryServiceBinding">
			<soapbind:address location="https://api.vetrf.ru/platform/services/DictionaryService"/>
		</port>
	</service>
</definitions>